In [1]:
import pandas as pd

In [2]:
read=pd.read_csv("https://raw.githubusercontent.com/yashbhutoria/PCE-CS-III-ML-Club/master/Data%20Sets/Assignment5.csv",names=["name","manager"])
r=len(read)

In [3]:
dic={}
for i in range(r):
    k=read.iloc[i,0]
    v=read.iloc[i,1]
    dic.update({k:v})

In [4]:
k=list(dic.keys())

In [9]:
result = []
for i in range(r):
    key=k[i]
    l=[key]
    while(dic[key]!=key):
        key=dic[key]
        l.append(key)
    result.append(l)

In [10]:
dataframe = pd.DataFrame(result)

In [12]:
dataframe.fillna('')

       0      1      2     3     4
0    Ram  Shyam  Harry  Lucy  Shiv
1  Shyam  Harry   Lucy  Shiv
2  Harry   Lucy   Shiv
3   Lucy   Shiv
4   Shiv
5   Jake   Hana  Beast
6   Hana  Beast
7  Beast
8  Shady
9    Nox